.copyright{
    padding-top: 92px;
    max-width: 166px;
    height: 16px;
    font-family: "Inter",Arial, sans-serif;
    font-size: 14px;
    line-height: 16px;
    color: #fff;
    margin: 0 auto;
    padding-bottom: 24px;
}