.footer{
    background-image:linear-gradient(rgba(42 ,44, 47, 0.3),rgba(42,44,47, 0.3)),url('../images/img_footer.png') ;
    background-position: center;
    background-size: cover;
    max-width: 1184px;
    height: 740px;
    margin: 0 auto;
    text-align: center;
    font-family: "Inter", Arial, sans-serif;

}
.footer:hover{
    background-image: linear-gradient(rgba(42 ,44, 47, 0.8),rgba(42,44,47, 0.8)),url('../images/img_footer.png') ;
}
.footer__content{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
    
}

.footer__title{
    max-width: 656px;
    height: 76px;
    font-weight: 900;
    font-size: 72px;
    line-height: 76px;
    color: #fff;
    margin: 0 auto;
    padding-top: 243px;
    padding-bottom: 32px;
}
.footer__description{
    max-width: 280px;
    height: 66px;
    font-weight: 400;
    font-size: 18px;
    line-height: 22px;
    color: #fff;
    margin: 0 auto;
    padding-bottom: 32px;
}
.footer__button{
    max-width: 191px;
    height: 48px;
    font-weight: 600;
    font-size: 18px;
    color: #fff;
    width: 100%;
    background-color: #0278fe;
    border-radius: 4px;
    border: none;
    margin: 0;
}
.footer__button:hover{
        background: #0063d2;
        opacity: .8;
}
@media only screen and (max-width: 768px){
    .footer {
        max-width: 768px;
        height: 746px;
    }
    .footer__title {
        padding-top: 246px;
        padding-bottom: 32px;
    }
}

@media only screen and (max-width: 320px){
    .footer {
        max-width: 320px;
        height: 254px;
    }
    .footer__title {
        max-width: 288px;
        height: 35px;
        font-size: 32px;
        line-height: 35px;
        padding-top: 46px;
        padding-bottom: 16px;
    }
    .footer__description {
        max-width: 280px;
        height: 48px;
        font-size: 14px;
        line-height: 16px;
        padding-bottom: 16px;
    }
}